project_name        = "epos-platform-demo"
owner               = "your-name"
aws_region          = "eu-west-2"
cluster_version     = "1.29"
vpc_cidr            = "10.20.0.0/16"

node_instance_types = ["t3.medium"]
node_desired_size   = 2
node_min_size       = 1
node_max_size       = 3

single_nat_gateway  = true
